# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env
.env.local
**/desktop.ini
.env*
build/AmDital-win32-x64/AmDital.exe
build/AmDital-win32-x64/chrome_100_percent.pak
build/AmDital-win32-x64/chrome_200_percent.pak
build/AmDital-win32-x64/d3dcompiler_47.dll
build/AmDital-win32-x64/ffmpeg.dll
build/AmDital-win32-x64/icudtl.dat
build/AmDital-win32-x64/libEGL.dll
build/AmDital-win32-x64/libGLESv2.dll
build/AmDital-win32-x64/LICENSE
build/AmDital-win32-x64/LICENSES.chromium.html
build/AmDital-win32-x64/resources.pak
build/AmDital-win32-x64/snapshot_blob.bin
build/AmDital-win32-x64/v8_context_snapshot.bin
build/AmDital-win32-x64/version
build/AmDital-win32-x64/vk_swiftshader_icd.json
build/AmDital-win32-x64/vk_swiftshader.dll
build/AmDital-win32-x64/vulkan-1.dll
build/AmDital-win32-x64/locales/af.pak
build/AmDital-win32-x64/locales/am.pak
build/AmDital-win32-x64/locales/ar.pak
build/AmDital-win32-x64/locales/bg.pak
build/AmDital-win32-x64/locales/bn.pak
build/AmDital-win32-x64/locales/ca.pak
build/AmDital-win32-x64/locales/cs.pak
build/AmDital-win32-x64/locales/da.pak
build/AmDital-win32-x64/locales/de.pak
build/AmDital-win32-x64/locales/el.pak
build/AmDital-win32-x64/locales/en-GB.pak
build/AmDital-win32-x64/locales/en-US.pak
build/AmDital-win32-x64/locales/es-419.pak
build/AmDital-win32-x64/locales/es.pak
build/AmDital-win32-x64/locales/et.pak
build/AmDital-win32-x64/locales/fa.pak
build/AmDital-win32-x64/locales/fi.pak
build/AmDital-win32-x64/locales/fil.pak
build/AmDital-win32-x64/locales/fr.pak
build/AmDital-win32-x64/locales/gu.pak
build/AmDital-win32-x64/locales/he.pak
build/AmDital-win32-x64/locales/hi.pak
build/AmDital-win32-x64/locales/hr.pak
build/AmDital-win32-x64/locales/hu.pak
build/AmDital-win32-x64/locales/id.pak
build/AmDital-win32-x64/locales/it.pak
build/AmDital-win32-x64/locales/ja.pak
build/AmDital-win32-x64/locales/kn.pak
build/AmDital-win32-x64/locales/ko.pak
build/AmDital-win32-x64/locales/lt.pak
build/AmDital-win32-x64/locales/lv.pak
build/AmDital-win32-x64/locales/ml.pak
build/AmDital-win32-x64/locales/mr.pak
build/AmDital-win32-x64/locales/ms.pak
build/AmDital-win32-x64/locales/nb.pak
build/AmDital-win32-x64/locales/nl.pak
build/AmDital-win32-x64/locales/pl.pak
build/AmDital-win32-x64/locales/pt-BR.pak
build/AmDital-win32-x64/locales/pt-PT.pak
build/AmDital-win32-x64/locales/ro.pak
build/AmDital-win32-x64/locales/ru.pak
build/AmDital-win32-x64/locales/sk.pak
build/AmDital-win32-x64/locales/sl.pak
build/AmDital-win32-x64/locales/sr.pak
build/AmDital-win32-x64/locales/sv.pak
build/AmDital-win32-x64/locales/sw.pak
build/AmDital-win32-x64/locales/ta.pak
build/AmDital-win32-x64/locales/te.pak
build/AmDital-win32-x64/locales/th.pak
build/AmDital-win32-x64/locales/tr.pak
build/AmDital-win32-x64/locales/uk.pak
build/AmDital-win32-x64/locales/ur.pak
build/AmDital-win32-x64/locales/vi.pak
build/AmDital-win32-x64/locales/zh-CN.pak
build/AmDital-win32-x64/locales/zh-TW.pak
build/AmDital-win32-x64/resources/app.asar
mg-build/AmDital Setup 1.0.0.exe
mg-build/AmDital Setup 1.0.0.exe.blockmap
mg-build/builder-debug.yml
mg-build/builder-effective-config.yaml
mg-build/latest.yml
mg-build/win-unpacked/AmDital.exe
mg-build/win-unpacked/chrome_100_percent.pak
mg-build/win-unpacked/chrome_200_percent.pak
mg-build/win-unpacked/d3dcompiler_47.dll
mg-build/win-unpacked/dxcompiler.dll
mg-build/win-unpacked/dxil.dll
mg-build/win-unpacked/ffmpeg.dll
mg-build/win-unpacked/icudtl.dat
mg-build/win-unpacked/libEGL.dll
mg-build/win-unpacked/libGLESv2.dll
mg-build/win-unpacked/LICENSE.electron.txt
mg-build/win-unpacked/LICENSES.chromium.html
mg-build/win-unpacked/resources.pak
mg-build/win-unpacked/snapshot_blob.bin
mg-build/win-unpacked/v8_context_snapshot.bin
mg-build/win-unpacked/vk_swiftshader_icd.json
mg-build/win-unpacked/vk_swiftshader.dll
mg-build/win-unpacked/vulkan-1.dll
mg-build/win-unpacked/locales/af.pak
mg-build/win-unpacked/locales/am.pak
mg-build/win-unpacked/locales/ar.pak
mg-build/win-unpacked/locales/bg.pak
mg-build/win-unpacked/locales/bn.pak
mg-build/win-unpacked/locales/ca.pak
mg-build/win-unpacked/locales/cs.pak
mg-build/win-unpacked/locales/da.pak
mg-build/win-unpacked/locales/de.pak
mg-build/win-unpacked/locales/el.pak
mg-build/win-unpacked/locales/en-GB.pak
mg-build/win-unpacked/locales/en-US.pak
mg-build/win-unpacked/locales/es-419.pak
mg-build/win-unpacked/locales/es.pak
mg-build/win-unpacked/locales/et.pak
mg-build/win-unpacked/locales/fa.pak
mg-build/win-unpacked/locales/fi.pak
mg-build/win-unpacked/locales/fil.pak
mg-build/win-unpacked/locales/fr.pak
mg-build/win-unpacked/locales/gu.pak
mg-build/win-unpacked/locales/he.pak
mg-build/win-unpacked/locales/hi.pak
mg-build/win-unpacked/locales/hr.pak
mg-build/win-unpacked/locales/hu.pak
mg-build/win-unpacked/locales/id.pak
mg-build/win-unpacked/locales/it.pak
mg-build/win-unpacked/locales/ja.pak
mg-build/win-unpacked/locales/kn.pak
mg-build/win-unpacked/locales/ko.pak
mg-build/win-unpacked/locales/lt.pak
mg-build/win-unpacked/locales/lv.pak
mg-build/win-unpacked/locales/ml.pak
mg-build/win-unpacked/locales/mr.pak
mg-build/win-unpacked/locales/ms.pak
mg-build/win-unpacked/locales/nb.pak
mg-build/win-unpacked/locales/nl.pak
mg-build/win-unpacked/locales/pl.pak
mg-build/win-unpacked/locales/pt-BR.pak
mg-build/win-unpacked/locales/pt-PT.pak
mg-build/win-unpacked/locales/ro.pak
mg-build/win-unpacked/locales/ru.pak
mg-build/win-unpacked/locales/sk.pak
mg-build/win-unpacked/locales/sl.pak
mg-build/win-unpacked/locales/sr.pak
mg-build/win-unpacked/locales/sv.pak
mg-build/win-unpacked/locales/sw.pak
mg-build/win-unpacked/locales/ta.pak
mg-build/win-unpacked/locales/te.pak
mg-build/win-unpacked/locales/th.pak
mg-build/win-unpacked/locales/tr.pak
mg-build/win-unpacked/locales/uk.pak
mg-build/win-unpacked/locales/ur.pak
mg-build/win-unpacked/locales/vi.pak
mg-build/win-unpacked/locales/zh-CN.pak
mg-build/win-unpacked/locales/zh-TW.pak
mg-build/win-unpacked/resources/app-update.yml
mg-build/win-unpacked/resources/app.asar
mg-build/win-unpacked/resources/elevate.exe
